body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
}

img {
    height: auto;
    width: 250px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.hero, .footer {
    display: flex;
    background-color: #1f2937;
}

.hero {
    flex-direction: column;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 18px;
    padding-bottom: 32px;
    gap: 32px;
}

.hero-button {
    border: solid 2px #3882f6;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 16px;
    padding-right: 16px;
}

.header {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;

}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.top-container {
    display: flex;
    align-items: flex-start;
    color: white;
    justify-content: space-between;
}

.footer {
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    padding: 24px;
}

.card-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    margin-top: 32px;
}

.second-container {
    display: flex;
    justify-content: center;
    padding: 24px;
    text-align: center;
    gap: 32px;
    margin: 32px;
}

.card {
    width: 200px;
}

.card-image {
    border: solid 3px blue;
    border-radius: 18px;
    height: 200px;
    width: 200px;
    margin-bottom: 8px;
}

.third-container {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 52px;
    padding-bottom: 52px;
}

.quote-text {
    font-style: italic;
    font-size: 36px;
}

.quote-author {
    display: flex;
    align-self: flex-end;
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
}

.bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 52px;
    padding-bottom: 52px;
}

.sign-up {
    display: flex;
    background-color: #3882f6;
    color: white;
    padding: 52px;
    gap: 42px;
    border-radius: 18px;
    flex: 1;
    justify-content: space-around;
}

.bottom-title {
    font-size: 18px;
    font-weight: bold;
}

.footer-button {
    border: solid 2px white;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 16px;
    padding-right: 16px;
}
